# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#

# -----------------------------------------------------------
# Shared config definition
# -----------------------------------------------------------

sharedEnvironment: &sharedEnvironment
  environment:
    APP_NAME: KOPI
    SERVICE_NAME: KOPI-SHOPS

sharedConfig: &sharedConfig
  docker:
    - image: circleci/node:10.8.0
  <<: *sharedEnvironment

sharedContext: &sharedContext
  context: kopi

# -----------------------------------------------------------
# Jobs definition
# -----------------------------------------------------------
version: 2
jobs:
  dependencies:
    <<: *sharedConfig
    steps:
      - checkout
      - restore_cache:
         key: node_modules-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: yarn install
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
      - save_cache:
          key: node_modules-{{ checksum "package.json" }}
          paths:
            - node_modules
  test_unit:
    <<: *sharedConfig
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Unit test
          command: yarn test


# -----------------------------------------------------------
# Workflows definition
# -----------------------------------------------------------
workflows:
  version: 2
  build_test_deploy:
    jobs:
      - dependencies:
          filters:
            tags:
              only: /.*/
      # Tests
      - test_unit:
          requires:
            - dependencies
          filters:
            tags:
              only: /.*/
